body {
    width: 100%;
    margin: 0;
}


/*Change color*/

.v-point,
.v-loaded {
    background: red;
}

.v-video {
    position: relative;
    display: inline-block;
    z-index: 10000;
    background: black;
}

.v-container {
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 25;
    cursor: pointer;
}

.v-progress {
    top: -3px;
    width: 100%;
    position: absolute;
    background: rgba(255,255,255,.5);
    height: 3px;
    bottom: 0;
    cursor: pointer;
}

.v-progress:hover {
    height: 5px;
}

.v-progress:hover .v-point {
    display: block;
}

.v-vContainer {
    width: 0;
    float: left;
    height: 100%;
    margin-right: 13px;
    position: relative;
    opacity: 0;
    transition: all 0.3s ease;
}

.v-mask {
    height: 87px;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 30;
     opacity: 0; 
    background-repeat: repeat-x;
    background-position: bottom;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
    transition: all 0.6s;
    animation: v-video 2.6s ease;
}

.v-barHover {
    height: 100%;
    position: absolute;
    z-index: 9;
    background: white;
}

.v-SVGContainer {
    float: left;
    width: 40px;
    height: 100%;
}

.v-bar {
    position: absolute;
    bottom: 0px;
    fill: #ECEAEA;
    left: 20px;
    right: 20px;
    font-size: 0;
}

.v-bar a {
    text-decoration: none;
}

.v-loaded {
    height: 100%;
    position: absolute;
    z-index: 10;
}

.v-btn {
    height: 40px;
    width: 36px;
    float: left;
    z-index: 100;
    cursor: pointer;
}

.v-btnV {
    height: 40px;
    width: auto;
    float: left;
    cursor: pointer;
    z-index: 100;
    margin-right: 10px;
}

.v-setContainer {
    position: absolute;
    right: 0;
    top: -90px;
    width: 150px;
    color: white;
    font-size: 15px;
    height: 80px;
    background: rgba(28, 28, 28, 0.9);
    text-shadow: 0 0 2px rgba(0, 0, 0, .5);
    z-index: 200;
    padding: 10px 0px;
    cursor: pointer;
    display: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.v-buffer {
    height: 100%;
    position: absolute;
    z-index: 8;
    background: rgba(197, 197, 197, 0.71);
}

.v-setElem {
    height: 30px;
    line-height: 30px;
    padding: 0 15px;
}

.v-setElem span {
    float: right;
}

.v-setElem:hover {
    background-color: rgba(224, 222, 222, 0.17);
}

.v-btnV:after {
    display: block;
    content: "clear";
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
}

.v-btnV:hover .v-vContainer {
    width: 40px;
    opacity: 1;
}

.v-btnR {
    height: 40px;
    width: 36px;
    float: right;
    cursor: pointer;
}

.v-btnS {
    height: 40px;
    width: 36px;
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.v-btn:hover,
.v-btnR:hover,
.v-btnS:hover {
    animation: v-scale 0.7s;
}

.v-point {
    width: 13px;
    height: 13px;
    top: -4px;
    position: absolute;
    border-radius: 100%;
    display: none;
    z-index: 10;
}

.v-time {
    color: white;
    float: left;
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

.v-icon {
    position: absolute;
    top: 42%;
    left: 50%;
    width: 52px;
    height: 52px;
    z-index: 17;
    opacity: 0;
    margin-left: -26px;
    margin-top: -26px;
    background: rgba(0, 0, 0, .5);
    border-radius: 26px;
    pointer-events: none;
    fill: white;
}

.v-p {
    animation: v-p 0.6s ease;
}

.v-vprogress {
    height: 3px;
    width: 100%;
    position: relative;
    top: 18px;
    margin-right: 5px;
    left: -7px;
    background: #c9c9c9;
    margin-left: 5px;
}

.v-vload {
    height: 3px;
    z-index: 1000;
    top: 18px;
    position: absolute;
    margin-right: 5px;
    left: -7px;
    background: white;
    margin-left: 5px;
    transition: all 0.1s;
}

.v-time span {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin-right: 5px;
}

.v-vPoint {
    width: 12px;
    height: 12px;
    background: white;
    position: absolute;
    top: -4px;
    border-radius: 100%;
    transition: all 0.1s;
}

@keyframes v-video {
    from {
        opacity: 1
    }
    to {
        opacity: 0
    }
}

@keyframes v-scale {
    from {
        transform: scale(1.15);
    }
    to {
        transform: scale(1);
    }
}

:-webkit-full-screen {
    background-color: black;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

@keyFrames v-p {
    from {
        opacity: 0;
        transform: scale(1);
    }
    to {
        opacity: 1;
        transform: scale(1.6);
    }
}
